* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}
.nav {
  display: flex;
  padding: 14px 20px;
  background-color: lightblue;
  justify-content: space-between;
  align-items: center;
}
.nav2 {
  display: flex;
  gap: 30px;
}
